##############################
# Ignorar directorios target/
##############################

/App_Web_Server/ServicioExpediente/target/
/App_Web_Server/ServicioMedico/target/
/App_Server/ServicioExpediente/target/
/App_Server/ServicioMedico/target/
/App_Server/ServicioPaciente/target/
/App_Server/BaseDatosExpedienteClinico/target/
/App_Server/Objetos_SecretariaSalud/target/
/App_Server/ServicioSolicitud/target/

##############################
# NetBeans - archivos privados
##############################

/cliente_usuario/nbproject/private/
/App_Server/ObjetosSecretariaSalud/nbproject/private/
App_Server/ServicioPaciente/nb-configuration.xml

##############################
# Python cache (por si acaso)
##############################
**/__pycache__/

##############################
# Node / Frontend
##############################
node_modules/
dist/
.env
.env.local

##############################
# Java / Maven comunes
##############################
target/
!.mvn/wrapper/maven-wrapper.jar
*.log

##############################
# Sistema operativo
##############################
.DS_Store
Thumbs.db
